$iconSize: 20px;

.wp-block-help-icon {
  position:relative;
  margin: 10px 0px 0px 4px;
}

.wp-block-help-icon svg {
  position:absolute;
  bottom:-4px;
  height: $iconSize;
  width: $iconSize;  
}

.wp-block-help-icon a {
  margin-left: $iconSize+2;
}

